{% extends 'layout/base.twig' %}

{% block title %}
  DateAnime - Index
{% endblock %}

{% block content %}
  <div class="row">
    <div class="bg-light col-4 border border-dark m-3">
      (WIP) Date Anime is a very special concept where you will be offered anime to watch, choosing if you like it or not, a watchlist will be created with what you would apply to your list of likes.
      You will also be able to see the list of those you don't like.
    </div>
    <div class="bg-light col-4 border border-dark m-3">
      (WIP) The features will arrive little by little, the project is a kind of big lab so I can test anything.
    </div>
  </div>
  
{% endblock %}
